
#header{
    background-image: url(/assets/gabriela4.jfif);
    background-attachment:local;
    background-repeat: no-repeat;
    display: flex;  
    width: 360px;
    height: 640px;
  }
#banner{
    padding: 220px 15px 70px  15px;
    align-items: center;
   
}



#socialmedia{
    padding: 2px;
    color: #FFFFFF;
    
    

}

#socialmedia > li {
    display: inline-block;
    list-style: none;
    text-align: center;
    padding: 3px;
    margin: 0px 5px;
    text-transform: uppercase;
    border-radius: 50%;
    border: 1px solid white;
    width: 30px;
    height: 30px;
    line-height: 30px;
        
}
#socialmedia > li > a{
    color: #FFFFFF;
    background: transparent;
    font-size: 24px;
    border-radius: 50%;
    justify-items: flex-start;
    
   
}
ul #socialmedia > li> a:hover{
    
    background-color: rgba(85, 75, 75, 0.046);
    font-size: 30px;
}


#menu > ul > li{
    display: flex;
    margin: 10px;
 
  
}

#menu > ul > li> a{

    text-align: center;
    color:white;
    padding: 10px;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 20%;
    border: 1px solid #FFFFFF;
    width: 30px;
    height: 30px;
    line-height: 30px;
    
   
   
}

ul > li> a:hover{
    transform: translateY(-2px) scale(1.10);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .6);

}

h1{
    font-family: 'Advent Pro', sans-serif;
    font-size-adjust: initial;
    color: white;
    font-weight: lighter;
}

p{
    color: white;
    font-size: 20px;

}