
#header{
    background-image: url("https://images.unsplash.com/photo-1506126613408-eca07ce68773?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=499&q=80");
    background-repeat: no-repeat;
    display: flex;  
    width: 360px;
    height: 640px;
  
}
#banner{
    padding: 170px 15px 70px  15px;
    align-items: center;
   
}



#socialmedia{
    padding: 0px;
}

#socialmedia > li {
    display: inline-block;
    list-style: none;
    color:white;
    padding: 10px;
    margin: 0px 10px;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    width: 10px;
    height: 10px;
    width: 30px;
    height: 30px;
        
}
.socialmedia > li > a{

   justify-items: flex-start;
}
#menu > ul > li{
    display: flex;
    margin: 10px;
  
  
}

#menu > ul > li> a{

    text-align: center;
    color:white;
    padding: 10px;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 20%;
    border: 1px solid #FFFFFF;
    width: 30px;
    height: 30px;
    
   
   
}

ul > li> a:hover{
    background-color: #A8888D;
    font-size: 14px;
   

}

h1{
    font-family: 'Advent Pro', sans-serif;
    font-size-adjust: initial;
    color: white;
    font-weight: lighter;
}

p{
    color: white;
    font-size: 20px;

}