*{
    background-color: #663340;
}

#menu > ul > li{
    display: flex;
    list-style: none;
    margin: 15px;
    text-align: center;
    
}

ul > li> a{
    flex-flow: row wrap;

    text-decoration: none;
    text-align: center;
    color:white;
    padding: 15px;
    font-size: 12px;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 10%;
    border: 1px solid #FFFFFF;
    
   
   
}

ul > li> a:hover{
    background-color: #A8888D;
    font-size: 14px;
   

}

h1{
    font-family: 'Bad Script', cursive;
    color: white;
}

p{
    color: #D29D87;
}