body{
    background-image: url(/assets/gabriela4.jfif);
    background-size: auto;
    background-attachment:local;
    background-repeat:repeat;
    justify-content: center;
    text-align: center;
    
   
}

main{
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

#socialmedia{
    padding: 2px;
    color: #FFFFFF;
    
    

}

#socialmedia > li {
    display: inline-block;
    list-style: none;
    text-align: center;
    padding: 3px;
    margin: 0px 5px;
    text-transform: uppercase;
    border-radius: 50%;
    border: 1px solid white;
    width: 30px;
    height: 30px;
    line-height: 30px;
        
}
#socialmedia > li > a{
    color: #FFFFFF;
    background: transparent;
    font-size: 24px;
    border-radius: 50%;
    
      
}
ul #socialmedia > li> a:hover{
    transform: translateY(-2px) scale(1.10);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .6);
}


#menu > ul > li{
    display: grid;
    margin: 10px;
}

#menu > ul > li> a{
    

    text-align: center;
    color:white;
    padding: 10px;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 20%;
    border: 1px solid #FFFFFF;
    width: 30px;
    height: 30px;
    line-height: 30px; 
   
}

ul > li> a:hover{
    transform: translateY(-2px) scale(1.10);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .6);

}


section #aboutme{
    padding: 10px;
    width: 95%;
    justify-content: center;
    align-items: center;
   
    

}

article{
    background-color: #ffdfdf44;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    border-radius: 5%;
}
h1{
    font-family: 'Advent Pro', sans-serif;

    color: white;
    font-weight: lighter;
}
h2,h3{
    color: #ffdfdf;
    text-align: center;
    justify-content: center;
}

p{
    color: white;
    font-size: 20px;
    text-align: justify;
    padding: 20px;


}
footer{
    position: fixed;
    width: 100%;
    height: auto;
    background-color: rgba(218, 190, 213, 0.699);
    
}

img{
    border-radius: 50%;
    width: 150px;
    height: auto;
}





