body{
    background-image: url(/assets/gabriela4.jfif);
    background-size: auto;
    background-repeat:repeat;
 
   
}


#content3 {
    border: 1px solid blue;
    width: 100%;
    height: auto;   
    overflow: hidden;
    border: 1px solid black;
    border-collapse: collapse;
    font-family: arial;
    align-items: center;
    
    
}
article{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    background-color: rgba(209, 200, 208, 0.363);
    border-radius: 7%;
    padding: 20px;

}
div{
    padding: 10px;
    color: rgb(241, 224, 238);
}


.imagenes3{
    flex-flow: column wrap;
    justify-content: center;
    align-items: center; 
    padding: 10px;
    margin: 10px;
    text-align: center;
    
}
.img3{
    width: 220px;
    height: 180px;
    border-radius: 10%; 
    padding: auto;
}


.videos{
    flex-flow: row wrap;
    grid-gap:10px;
    text-align: center;
}

.videos video{
    display: block;
    width:100%;
    height: auto;
}
.musica{
    flex-flow: row wrap;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
}
.musica audio{
    padding: 10px;
    margin: 10px;
    grid-gap:10px;
   
}
 iframe{
    width: 220px;
    height: 120px;
 }
