body{
    background-image: url(/assets/gabriela4.jfif);
}


.contentsidebar {
    justify-content: center;

    border: 1px solid transparent;
    border-radius: 5%;
}
.content, .sidebar,.info{
    justify-content: center;
    padding: 10px;
    margin: 10px;
    background-color: rgba(209, 200, 208, 0.226);
    border: 1px solid transparent;
    border-radius: 5%;
}


  /* Tablet */
@media screen and (min-width:768px) and (max-width:1024px) {

.contentsidebar {
    display: flex;
    width: 100%;
    flex-flow: row;
}

.content {
    width: 75%;
}

.sidebar {
    width: 25%;
}
}
h2,h3{
    color: #ffdfdf;
}

p{
    color: white;
    font-size:25px;
    text-align: justify;
    padding: 2px;

}

footer{
    height: 30px;
    background-color: rgba(218, 190, 213, 0.699);
}


 /* Escritorio */

@media screen and (min-width:1025px) {
    
   
    .contentsidebar {
        display: flex;
        flex-flow: row;
    }

    .content {
        width: 75%;
    }
    
    .sidebar {
        width: 25%;
    }}


footer{

     position: fixed;
    width: 100%;
    height: auto;
    background-color: rgba(218, 190, 213, 0.699);
        
 }
 h1{
    font-family: 'Advent Pro', sans-serif;
    font-size-adjust: initial;
    color: white;
    font-weight: lighter;
}
h2,h3{
    color: #ffdfdf;
}

p{
    color: white;
    font-size: 20px;
    text-align: justify;
    padding: 2px;


}


ul #socialmedia > li> a:hover{
    transform: translateY(-2px) scale(1.10);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .6);
}


#menu > ul > li{
    display: grid;
    margin: 10px;
}

#menu > ul > li> a{
    

    text-align: center;
    color:white;
    padding: 10px;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 20%;
    border: 1px solid #FFFFFF;
    width: 30px;
    height: 30px;
    line-height: 30px; 
   
}

ul > li> a:hover{
    transform: translateY(-2px) scale(1.10);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .6);

}


