*{
    margin: 0px;
}
body{
    background-image: url(/assets/gabriela4.jfif);
    background-color: rgba(199, 111, 167, 0.648);
    background-repeat:no-repeat;
    height: 100%; 
    width: 100%;
}
header{
    padding: 2%;
    margin: 10px;
    height: 30%;
    text-align: right;
}


main{
    height: 70%;
    padding: 20px;
}

/* CSS del menu */
#menu > ul > li{
    display: block;
    margin: 20px;
    justify-content: center;
}

#menu > ul > li> a{
    text-align: center;
    justify-content: center;
    color:white;
    padding: 15px;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 20%;
    border: 1px solid #FFFFFF;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

ul > li> a:hover{
    transform: translateY(-2px) scale(1.10);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .6);
}
/* Fin del CSS del menu */
/* CSS de los textos */
h1{
    font-family: 'Advent Pro', sans-serif;
    font-size-adjust: initial;
    color: white;
    font-weight: lighter;
    padding: 10px;
}

p{
    color: white;
    font-size: 20px;
    text-align: justify;
    padding: 15px;
}
/* Fin CSS de los textos del main*/
/* CSS social media */
#socialmedia{
    padding: 10px;
    color: #FFFFFF;
}

#socialmedia > li {
    display: inline-block;
    list-style: none;
    text-align: center;
    padding: 3px;
    margin: 0px 5px;
    text-transform: uppercase;
    border-radius: 50%;
    border: 1px solid white;
    width: 30px;
    height: 30px;
    line-height: 30px;
}
#socialmedia > li > a{
    color: #FFFFFF;
    background: transparent;
    font-size: 24px;
    border-radius: 50%;  
}
ul #socialmedia > li> a:hover{
    transform: translateY(-2px) scale(1.10);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .6);
}
/* fin CSS social media */

/* CSS del footer */
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 5px;
    background-color: rgba(191, 154, 168, 0.824);
    height: 40px;
    margin-bottom: 0px;
}

#socialmedia2{
    padding: 2px;
    color: #FFFFFF;
}

#socialmedia2 > li {
    display: inline-block;
    list-style: none;
    text-align: center;
    padding: 3px;
    margin: 0px 5px;
    text-transform: uppercase;
    border-radius: 50%;
    border: 1px solid white;
    width: 10px;
    height: 10px;
    line-height: 10px;
}
#socialmedia2 > li > a{
    color: #FFFFFF;
    background: transparent;
    font-size: 10px;
    border-radius: 50%;  
}
ul #socialmedia2 > li> a:hover{
    transform: translateY(-2px) scale(1.10);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .6);
}
.textfooter{
    font-size: 15px;
}

/* Fin CSS del footer */

/* Estilos especiales para biografia */

img{
    border-radius: 50%;
    width: 150px;
    height: auto;
    border: 3px solid #ffffff9d;
}

#aboutme{
    background-color: #bd9a9a9d;
    padding: 20px;
    border-radius: 2%;
}
h2,h3{
    color: #ffdfdf;
    text-align: center;
    justify-content: center;
}

/* Estilos especiales para resume */
.contentsidebar {
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 5%;
}
.content, .sidebar,.info{
    justify-content: center;
    padding: 10px;
    margin: 10px;
    background-color:#bd9a9aa8;
    border: 1px solid transparent;
    border-radius: 5%;
}
@media screen and (min-width:768px) and (max-width:1024px) {

    .contentsidebar {
        display: flex;
        width: 100%;
        flex-flow: row;
    }
    
    .content {
        width: 75%;
    }
    
    .sidebar {
        width: 25%;
    }
    }
    
@media screen and (min-width:1025px) {
    
   
        .contentsidebar {
            display: flex;
            flex-flow: row;
        }
    
        .content {
            width: 75%;
        }
        
        .sidebar {
            width: 25%;
        }
}
    
/* CSS estilos especiales portfolio */
.project{
    margin: 10px;
    background-color: #bd9a9aa8;
    border-radius: 5%;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.img3{
    border-radius: 5%;
    text-align: center;
    align-items: center;
}
.projectDesc{
    padding: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
@media screen and (min-width:768px) and (max-width:1024px) {
    .projects{
        display: grid;
        grid-template-columns: repeat(2,50%);
        padding: 15px;
        margin: 15px;
    }
}

@media screen and (min-width:1025px) {
    .projects{
        display: flex;
        padding: 15px;
    }
    .project{
        flex-flow: row wrap;
    }  
}

/* CSS estilos especiales contacto */

#form {
    background-color: #bd9a9aa8;
    border-radius: 5%;
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-rows: 80% 20%;
    margin: 5%;
    padding: 10px;
}

label{
    color:#ffdfdf;
    border-radius: 4%;
    padding: 10%;
}

#submit {
    font-weight: bold;
    color: #ffdfdf;
    cursor: pointer;
    padding: 5px;
    margin: 0 10px 20px 0;
    border: 1px solid #ccc;
    background: rgba(233, 175, 175, 0.821);
    border-radius: 10%;
}
@media screen and (min-width:768px) and (max-width:1024px) {
    #form{
        padding: 30%s;
        margin: 30%;
    }
}

@media screen and (min-width:1025px) {
    .projects{
        display: flex;
        padding: 15px;
    }
    .project{
        flex-flow: row wrap;
    }  
}

